
<app-sidebar></app-sidebar>
<div>
    <div class="main">
  
      <!-- Actual search box -->
      <div class="form-group has-search">
        <span class="fa fa-search form-control-feedback"></span>
      </div>
  
  
  
    </div>
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">User Id</th>
            <th scope="col">Name</th>
            
            <th scope="approve">Delete</th>
            <th scope="disapprove">Modify</th>

          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let user of users | paginate: { itemsPerPage: 10, currentPage: p }">
  
            <th>{{user.user_id}}</th>
            <td>{{user.first_name}}</td>
           
            <td>
                <button (click)="deleteUser(user)"  type="button" class="btn btn-primary btn-sm">Delete</button>
            </td>
            <td>
                <button (click)="modify(user)"  type="button" class="btn btn-primary btn-sm">Modify</button>
            </td>
          </tr>
  
        </tbody>
      </table>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
  