<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">


<div class="navbar navbar-inverse  navbar-fixed-left">

  <ul class="nav sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/createuser']" routerLinkActive="router-link-active">Create New User</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/createaccount']" routerLinkActive="router-link-active">Create Account</a>
    </li>   
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/viewflaggedtransactions']" routerLinkActive="router-link-active">Flagged Transactions</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/viewmyprofile']" routerLinkActive="router-link-active">My Profile</a>
    </li>
  
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/viewaccounts']" routerLinkActive="router-link-active">View All Accounts</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/viewusers']" routerLinkActive="router-link-active">View All Users</a>
    </li>


  </ul>
</div>

<!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">

    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">Team</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="https://twitter.com/maridlcrmn">Follow me</a>
    </li>
  </ul>
</nav> -->