<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script> -->
<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<div class="navbar navbar-inverse  navbar-fixed-left">

  <ul class="nav sidebar-nav">

    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active">Account Profile</a>
    </li>
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/balance']" routerLinkActive="router-link-active">Show Balance</a>
    </li> -->
    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/transfer']" routerLinkActive="router-link-active">Transfer</a>
    </li> -->
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/account']" routerLinkActive="router-link-active">View Account(s)</a>
    </li>

    <!-- <li class="nav-item">
      <a class="nav-link" [routerLink]="['/transaction']" routerLinkActive="router-link-active">Transaction History</a>
    </li> -->


  </ul>
</div>

<!-- <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">
  <ul class="nav sidebar-nav">

    <li>
      <a href="#">Home</a>
    </li>
    <li>
      <a href="#">About</a>
    </li>
    <li>
      <a href="#">Events</a>
    </li>
    <li>
      <a href="#">Team</a>
    </li>
    <li>
      <a href="#">Services</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
    <li>
      <a href="https://twitter.com/maridlcrmn">Follow me</a>
    </li>
  </ul>
</nav> -->