<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<form gForm #form="ngForm" (ngSubmit)="register(form)">
  <div class="container-fluid">
    <div class="row">
      <div class="well center-block">
        <div class="well-header">
          <h3 class="text-center "> Register Here! </h3>
          <hr>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" ngModel #first_name="ngModel" name="first_name" id="first_name"
                  placeholder="First Name" class="form-control">

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" ngModel #middle_name="ngModel" name="middle_name" id="middle_name"
                  placeholder="Middle Name" class="form-control">

              </div>
            </div>
          </div>
        </div>



        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-user"></i>
                </div>
                <input type="text" ngModel #last_name="ngModel" name="last_name" id="last_name" placeholder="Last Name"
                  class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-lock"></i>
                </div>
                <input type="number" minlength="10" maxlength="10" placeholder="National_Id" ngModel #ssn="ngModel"
                  name="ssn" id="ssn" class="form-control">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-phone"></i>
                </div>
                <input type="tel" minlength="10" maxlength="12" class="form-control" ngModel #ssn="ngModel" name="phno"
                  id="phno" placeholder="Mobile No.">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-envelope"></i>
                </div>
                <input type="email" class="form-control" ngModel #email="ngModel" name="email" id="email"
                  placeholder="E-Mail">
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-list-alt"></i>
                </div>
                <textarea class="form-control" ngModel #address="ngModel" name="address" id="address"
                  placeholder="Address"></textarea>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon">
                  <i class="glyphicon glyphicon-calendar"></i>
                </div>
                <input type="date" ngModel #dob="ngModel" name="dob" id="dob" placeholder="Date Of Birth"
                  class="form-control" id="datepicker">
              </div>
            </div>
          </div>
        </div>

        <div class="row widget">
          <div class="col-md-12 col-xs-12 col-sm-12">
            <button class="btn btn-warning btn-block"> Submit </button>
          </div>
        </div>
      </div>
    </div>
  </div>


</form>